{% extends "base.html" %}
{% block title %} Welcome {% endblock %}
{% include 'portfolio/en/header.html' %}
{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h2>Hi, i'm</h2>
                <h1>Vicente Pérez</h1>
                <h2>Software Developer </h2>
                <a href="/en/#contact" class="btn btn-primary delay">Contact me</a>
            </div>
            <div class="right">
                <img class="m" src="{{ url_for('static', filename="hero.png")}}" width=600px />
    
            </div>
        </div>
        
    </div>

    {% include 'portfolio/en/section-first.html' %}
    {% include 'portfolio/en/section-second.html' %}
    {% include 'portfolio/en/section-third.html' %}
{% endblock %}