<div class="center padded ">
    <div class="content padded m">
        <div class="padded">
            <h1>Projects</h1>
            
        </div>
        <div class="row">
            <div class="card third">
                <h3>Biblioteca virtual</h3>
                <p>Una aplicacion que simula una biblioteca virtual utilizando el stack MEAN</p>
                <a class="golden" target="_blank" href="https://github.com/vicentperezv/Biblioteca-Virtual-MEAN">Click here</a>
            </div>
            <div class="card third">
                <h3>Ecommerce laravel</h3>
                <p>Una aplicacion que simula una biblioteca virtual utilizando el stack MEAN</p>
                <a class="golden" target="_blank" href="https://github.com/vicentperezv/Tiendita-Laravel">Click here</a>
            </div>
            <div class="card third">
                <h3>Mailer flask</h3>
                <p>Una aplicacion que simula una biblioteca virtual utilizando el stack MEAN</p>
                <a class="golden" target="_blank" href="https://github.com/vicentperezv/Mailer-Flask">Click here</a>
            </div>
        </div>
    </div>
</div>
