<div class="center bg-black">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Skills</h1>
                <ul>
                    <li class="skills">Self-learner</li>
                    <li class="skills">Knowledge in Backend and Frontend</li>
                    <li class="skills">Knowledge in Relational and Non Relational Database</li>
                    <li class="skills">Knowledge in OOP</li>
                    <li class="skills">Empathy</li>
                    <li class="skills">Passion for Learning</li>
                    <li class="skills">English and Spanish</li>
                    
                </ul>
            </div>
            <div class="right padded">
                <h1 class="tech">Technologies</h1>
                <ul class="tech">
                    <li class="tech"><img src="{{ url_for('static', filename="lara-logo.png")}}" width="100" height="100" ></li>
                    <li class="tech"><img src="{{ url_for('static', filename="angular.png")}}" width="100" height="100" ></li>   
                    <li class="tech"><img src="{{ url_for('static', filename="Python.svg")}}" width="100" height="100" ></li>                
                    <li class="tech"><img src="{{ url_for('static', filename="mongo.png")}}" width="100"  ></li>
                    <li class="tech"><img src="{{ url_for('static', filename="mysql.png")}}" width="100" ></li> 
                </ul>
            </div>
        </div>
    </div>
</div>