<div class="center bg-black">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Habilidades</h1>
                <ul>
                    <li class="skills">Autodidacta</li>
                    <li class="skills">Conocimiento en Frontend y Backend</li>
                    <li class="skills">Conocimiento en Base de datos Relacionales y no Relacionales</li>
                    <li class="skills">Conocimiento en Programación orientada a Objetos</li>
                    <li class="skills">Empático</li>
                    <li class="skills">Pasión por aprender</li>
                    <li class="skills">Español e Inglés</li>
                    
                </ul>
            </div>
            <div class="right padded">
                <h1 class="tech">Tecnologías</h1>
                <ul class="tech">
                    <li class="tech"><img src="{{ url_for('static', filename="lara-logo.png")}}" width="100" height="100" ></li>
                    <li class="tech"><img src="{{ url_for('static', filename="angular.png")}}" width="100" height="100" ></li>   
                    <li class="tech"><img src="{{ url_for('static', filename="Python.svg")}}" width="100" height="100" ></li>                
                    <li class="tech"><img src="{{ url_for('static', filename="mongo.png")}}" width="100"  ></li>
                    <li class="tech"><img src="{{ url_for('static', filename="mysql.png")}}" width="100" ></li> 
                </ul>
            </div>
        </div>
    </div>
</div>