<div class="center padded ">
    <div class="content padded m">
        <div class="padded">
            <h1>Proyectos</h1>
            
        </div>
        <div class="row">
            <div class="card third">
                <h3>Biblioteca virtual</h3>
                <p>Una aplicacion para que simula una biblioteca virtual utilizando el stack MEAN</p>
                <a class="golden" target="_blank" href="https://github.com/Nieroppo/Biblioteca-Virtual-MEAN">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Ecommerce laravel</h3>
                <p>Una aplicacion que simula un Ecommerce utilizando Laravel y MySQL</p>
                <a class="golden" target="_blank" href="https://github.com/Nieroppo/Tiendita-Laravel">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Mailer flask</h3>
                <p>Una aplicacion que envia mails utilizando Flask y Sendgrid</p>
                <a class="golden" target="_blank" href="https://github.com/Nieroppo/Mailer-Flask">Link aquí</a>
            </div>
        </div>
    </div>
</div>