<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
           
            {%block header %}{% endblock %}       
        <section id="content-wrap">{% block content %}{% endblock %}</section>    
        <footer class="bg-black " >
            <div class="content center full-width">
                <div class="row left r">
                    <p class="footer-text"></p>                
                </div>
                
                <div class="social-links right">
                    <div class="row">
                        <a href="https://github.com/vicentperezv" target="_blank"><img src="{{ url_for('static', filename='GitHub.png')}}" class="github"></a>  
                        
                
                    </div>
                </div>
            </div>
        </footer>
    
</body>
</html>
